*{
  margin : 0;
  padding:0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
:root{
  --color-light: white;
  --color-dark:rgb(52, 58, 64);
  --color-primary:rgb(255, 193, 7);
}

#main{
  flex:1;
}

.nav-item{
  font-size: 1rem;
  margin: 5px 10px;
  padding: 5px 10px;
  border:1px solid transparent;
  border-radius: 10px;
  transition: 300ms;
  text-align: center;

  .nav-link{
    padding: 0;
  }
}

.nav-item:not(.active):hover {
  border: 1px solid #dbdbdb;
}

.nav-item.active {
  background-color: var(--color-primary);
  .nav-link{
    color: var(--color-dark) !important;
  }
}
